openapi: 3.1.0
info: {title: OpenAPI definition, version: v0}
servers:
- {url: 'http://localhost:8080', description: Generated server url}
paths:
  /api/auth/login:
    post:
      tags: [auth-resource]
      operationId: login
      requestBody:
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LoginRequestDTO'}
        required: true
      responses:
        '200': {description: OK}
  /api/requestResource/fetchAndCloneRepositories:
    get:
      tags: [request-resource]
      operationId: fetchAndCloneRepositories
      parameters:
      - name: jwt
        in: cookie
        required: false
        schema: {type: string}
      - name: artemis_server_url
        in: cookie
        required: false
        schema: {type: string}
      - name: artemis_username
        in: cookie
        required: false
        schema: {type: string}
      - name: artemis_password
        in: cookie
        required: false
        schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/TeamRepositoryDTO'}
components:
  schemas:
    LoginRequestDTO:
      type: object
      properties:
        password: {type: string, minLength: 1}
        serverUrl: {type: string, minLength: 1}
        username: {type: string, minLength: 1}
      required: [password, serverUrl, username]
    ParticipantDTO:
      type: object
      properties:
        email: {type: string}
        id: {type: integer, format: int64}
        login: {type: string}
        name: {type: string}
    ParticipationDTO:
      type: object
      properties:
        id: {type: integer, format: int64}
        repositoryUri: {type: string}
        submissionCount: {type: integer, format: int32}
        team: {$ref: '#/components/schemas/TeamDTO'}
    TeamDTO:
      type: object
      properties:
        id: {type: integer, format: int64}
        name: {type: string}
        owner: {$ref: '#/components/schemas/ParticipantDTO'}
        shortName: {type: string}
        students:
          type: array
          items: {$ref: '#/components/schemas/ParticipantDTO'}
    TeamRepositoryDTO:
      type: object
      properties:
        error: {type: string}
        isCloned: {type: boolean}
        localPath: {type: string}
        participation: {$ref: '#/components/schemas/ParticipationDTO'}
        vcsLogs:
          type: array
          items: {$ref: '#/components/schemas/VCSLogDTO'}
    VCSLogDTO:
      type: object
      properties:
        commitHash: {type: string}
        email: {type: string}
        repositoryActionType: {type: string}
