openapi: 3.1.0
info: {title: OpenAPI definition, version: v0}
servers:
- {url: 'http://localhost:8080', description: Generated server url}
paths:
  /api/auth/login:
    post:
      tags: [auth-resource]
      operationId: login
      requestBody:
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LoginRequestDTO'}
        required: true
      responses:
        '200': {description: OK}
  /api/requestResource/fetchData:
    get:
      tags: [request-resource]
      operationId: fetchData
      parameters:
      - name: jwt
        in: cookie
        required: false
        schema: {type: string}
      - name: artemis_server_url
        in: cookie
        required: false
        schema: {type: string}
      - name: artemis_username
        in: cookie
        required: false
        schema: {type: string}
      - name: artemis_password
        in: cookie
        required: false
        schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/ClientResponseDTO'}
components:
  schemas:
    ClientResponseDTO:
      type: object
      properties:
        students:
          type: array
          items: {$ref: '#/components/schemas/StudentAnalysisDTO'}
        submissionCount: {type: integer, format: int32}
        teamId: {type: integer, format: int64}
        teamName: {type: string}
        tutor: {type: string}
    LoginRequestDTO:
      type: object
      properties:
        password: {type: string, minLength: 1}
        serverUrl: {type: string, minLength: 1}
        username: {type: string, minLength: 1}
      required: [password, serverUrl, username]
    StudentAnalysisDTO:
      type: object
      properties:
        commitCount: {type: integer, format: int32}
        linesAdded: {type: integer, format: int32}
        linesChanged: {type: integer, format: int32}
        linesDeleted: {type: integer, format: int32}
        name: {type: string}
