openapi: 3.1.0
info: {title: OpenAPI definition, version: v0}
servers:
- {url: 'http://localhost:8080', description: Generated server url}
paths:
  /api/requestResource/fetchAndCloneRepositories:
    get:
      tags: [request-resource]
      operationId: fetchAndCloneRepositories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/TeamRepositoryDTO'}
components:
  schemas:
    ParticipantDTO:
      type: object
      properties:
        id: {type: integer, format: int64}
        login: {type: string}
        name: {type: string}
    ParticipationDTO:
      type: object
      properties:
        id: {type: integer, format: int64}
        repositoryUri: {type: string}
        team: {$ref: '#/components/schemas/TeamDTO'}
    TeamDTO:
      type: object
      properties:
        id: {type: integer, format: int64}
        name: {type: string}
        owner: {$ref: '#/components/schemas/ParticipantDTO'}
        shortName: {type: string}
        students:
          type: array
          items: {$ref: '#/components/schemas/ParticipantDTO'}
    TeamRepositoryDTO:
      type: object
      properties:
        commitCount: {type: integer, format: int32}
        error: {type: string}
        isCloned: {type: boolean}
        localPath: {type: string}
        participation: {$ref: '#/components/schemas/ParticipationDTO'}
