name: harmonia

services:
  postgres:
    image: postgres:18.1
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - harmonia-network

  server:
    image: 'ghcr.io/ls1intum/harmonia-server:${IMAGE_TAG}'
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    expose:
      - "8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      retries: 5
    networks:
      - harmonia-network

  client:
    image: 'ghcr.io/ls1intum/harmonia-client:${IMAGE_TAG}'
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      server:
        condition: service_healthy
    expose:
      - "80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 10s
      retries: 5
    networks:
      - harmonia-network

  nginx:
    image: nginx:1.29-alpine
    ports:
      - "80:80"
      - '443:443'
    restart: unless-stopped
    depends_on:
      client:
        condition: service_healthy
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - type: bind
        source: '/var/lib/rbg-cert/live/fullchain.pem'
        target: '/certs/fullchain.pem'
      - type: bind
        source: '/var/lib/rbg-cert/live/privkey.pem'
        target: '/certs/privkey.pem'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 10s
      retries: 5
    networks:
      - harmonia-network

volumes:
  postgres_data:

networks:
  harmonia-network:
    driver: bridge