version: '3.9'
services:
  postgres:
    image: postgres:18.1
    container_name: harmonia-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: harmonia
      POSTGRES_DB: harmonia
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
